<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anan.anancooking" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_chicken_leg"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".client.ui.LogActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".client.ui.MainPageActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomMainPageTheme" >
        </activity>
        <activity
            android:name=".client.ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".client.ui.MainPageActivity"
            android:theme="@style/CustomMainPageTheme" >
            >
        </activity>
        <activity
            android:name=".client.ui.UseRecipeActivity"
            android:label="@string/title_activity_use_recipe"
            android:parentActivityName=".client.ui.RecipeIntroActivity"
            android:theme="@style/CustomMainPageTheme" />
        <activity
            android:name=".client.ui.RecipeIntroActivity"
            android:label="@string/RecipeIntroActivityLabel"
            android:parentActivityName=".client.ui.MainPageActivity"
            android:theme="@style/CustomMainPageTheme" />
        <activity
            android:name=".client.ui.CreateRecipeBriefDescriptionActivity"
            android:label="Basic Description"
            android:parentActivityName=".client.ui.MainPageActivity"
            android:theme="@style/CustomMainPageTheme"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".client.ui.RecipeCreationActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomMainPageTheme"
            >
        </activity>
        <activity
            android:name=".client.ui.ImagePickerActivity"
            android:label="@string/title_activity_image_picker"
            android:theme="@style/CustomMainPageTheme" >
        </activity>
        <activity
            android:name=".client.ui.CrashPageActivity"
            android:label="@string/title_activity_crash_page"
            android:theme="@style/CustomMainPageTheme" >
        </activity>
        <activity
            android:name=".client.ui.TestVolley"
            android:label="@string/title_activity_test_volley"
            android:theme="@style/CustomMainPageTheme" >
        </activity>
        <activity
            android:name=".client.ui.SearchResultActivity"
            android:label="@string/title_activity_test_volley"
            android:theme="@style/CustomMainPageTheme" >
        </activity>
    </application>

</manifest>
